name: Run workload test

on:
  pull_request:
    paths:
      - 'workload/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}

jobs:
  test-workload:
      name: Run workload test
      runs-on: ubuntu-latest
      env:
        TEST_TIME_SEC: 300

      steps:
        - name: Checkout repository
          uses: actions/checkout@v4
        - name: Set up QEMU
          uses: docker/setup-qemu-action@v3
        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v3
        - name: Login to ghcr.io
          uses: docker/login-action@v3
          with:
            registry: ghcr.io
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}
        - name: Generate random number for the test seed
          run: echo "TEST_SEED=$RANDOM" >> $GITHUB_ENV
        - name: Run test
          run: ./ci.sh
        - name: Upload logs
          if: always()
          uses: actions/upload-artifact@v4
          with:
            name: test-logs
            path: test-*.log
